<div class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        <a sp-action="Product" asp-action="Index" class="navbar-brand">Utku Özcan</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a sp-action="Home" asp-action="Index"class="nav-link">Login</a>
            </li>
        </ul>
    </div>
</div>